section {
  padding-top: 5rem;
}

.navbar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.jumbotron h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#about p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#projects {
  background-color: #e2edff;
}

#projects p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#projects h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contact h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
